# Add any directories, files, or patterns you don't want to be tracked by version control
assets/*
protected/runtime/*
database.php
jadwal/*
node_modules/*

*.tar.gz

*.db
*.sql
*.zip

*.csv
